{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('product_index') }}">Accéder aux produits</a>
        {#<a href="{{ path('gamme_index') }}">Accéder aux gammes</a>#}
    </div>
{% endblock %}
