{% extends 'base.html.twig' %}

{% block title %} | Administration des Produits{% endblock %}

{% block bodyClass %}admin{% endblock %}

{% block body %}
<main>
    <div class="container marg-top-40">
        <h1 class="primary ft-s-15 ft-w-400 marg-bot-20">Création d'un nouvel élément</h1>
        <a href="{{ path('product_index') }}" class="btn"><i class="fas fa-angle-left"></i>&nbsp; Retourner à la liste</a>

        <div class="container marg-top-50" style="float: left;">
            {{ include('product/_form.html.twig') }}
        </div>

       
    </div>
</main>
{% endblock %}
